# General
*~
# HomeBrew
.Brewfile.lock.json
# Git
.gitconfig
## Working 
.gitconfig_work
# npm
node_modules
# Ruby
Gemfile.loc
# Python
Pipfile.lock
# mise
.mise.toml
# Mac OS
.DS_Store
# Windows
Thumbs.db
.windows_commands/**
# zsh
.zshrc_work
.zsh/**
