### all ignore ###
/*
/.**

### not ignore ###
!/.zshrc
!/.zshenv
!/.bin/
!/.bin/**
!/.bin.local
!/.config/
!/.config/**
!/.gitignore_global
!/.gitconfig_shared

!/README.md
!/LICENSE
!/.gitignore
!/.gitkeep